.Reply {
  color: var(--grey-color);
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  padding-left: 0px !important;
}

.Reply__Container {
  display: flex;
}

.Reply__AvatarContainer {
  margin-right: 0.5em;
}
