body {
  background-color: #f5f5f5;
  color: black;
}

:root {
  --primary-color: #296eac;
  --grey-color: rgba(0, 0, 0, 0.4);
  --light-grey-color: rgba(0, 0, 0, 0.05);
  --bold-color: rgba(0, 0, 0, 0.87);
  --subtitle-font-size: 0.9em;
  --title-font-size: 1.05em;
}
