@keyframes Spinner {
  to {
    transform: rotate(360deg);
  }
}

.Spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  margin-left: .5em;
  border-radius: 50%;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid transparent;
  animation: Spinner 0.6s linear infinite;
}

.Spinner {
    position: relative;
    width: 1em;
}
