.ImagesContainer {
  position: relative;
}

.ProfileSummaryContainer {
  margin-bottom: 2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.ProfileBodyContainer {
  display: flex;
}

.ProfileBodyContainer__PostContainer {
  flex-basis: var(--post-width);
}

.ProfileBodyContainer__BiographyContainer {
  flex-grow: 1fr;
}

.ProfileBodyContainer__PostContainer__Post {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.InfoItem .line.square {
  margin-bottom: 50px !important;
}

.line.medium-height {
  margin-bottom: 1.5em !important;
}

.line.big-height {
  margin-bottom: 2em !important;
}
