.PostInput {
  display: flex;
  padding: 0.5rem;
  align-items: center !important;
  align-items: center;
  margin-bottom: 0.5em !important;
}

.PostInput__InputContainer {
  width: 100%;
  position: relative;
}

.PostInput__Input {
  background: white;
  flex-grow: 1;
  border-radius: 20px;
  margin-left: 0.5rem;
  outline: none;
  padding: 0.65rem;
  overflow: auto;
  width: 100%;
  font-size: 0.85rem;
}

.PostInput__Placeholder {
  color: var(--grey-color);
  position: absolute;
  left: calc(0.5rem + 0.65rem);
  top: 0.65rem;
  font-size: 0.85rem;
}

.PostInput__InputContainer {
  margin-right: 1em;
}