.Avatar {
  border-radius: 50%;
  background-size: cover;
  border: 1px solid rgba(177, 177, 177, 0.15);
}

.Avatar--Active {
  border: 2px solid #0080ff;
}

.Avatar--Inactive {
  border: 2px solid #b3b3b3;
}
