.ImagesContainer__Cover {
  height: 250px;
  border-radius: 5px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.ImagesContainer__Cover__ChangeBtn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.ImagesContainer__Cover__ChangeBtn input {
  display: none;
}
