.HomePage__PostContainer {
  width: var(--post-width);
}

.HomePage__PostContainer > div {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.HomePage__MainContainer {
  display: flex;
  margin-top: 2em;
}

.HomePage__MainContainer__Aside {
  top: 70px;
  height: 210px;
  position: sticky;
  padding: 1em 1.25em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: calc(var(--content-width) - var(--post-width) - 1em);
}
