.HomePage__PostContainer {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  width: var(--post-width);
}

.HomePage__PostContainer > div:first-child {
  margin-top: 0;
}

.HomePage__PostContainer > div:last-child {
  margin-bottom: 0;
}

.HomePage__MainContainer {
  display: flex;
  margin-top: 2em;
}

.HomePage__MainContainer > div {
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.HomePage__MainContainer > div:first-child {
  margin-left: 0;
}

.HomePage__MainContainer > div:last-child {
  margin-right: 0;
}

.HomePage__MainContainer__Aside {
  height: 300px;
  position: sticky;
  top: 70px;
}
