.CommentInput {
  display: flex;
  padding: 0.5rem;
  border-top: 1.25px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1.25px solid rgba(0, 0, 0, 0.1);
  align-items: center !important;
  position: relative;
  margin-top: 1rem;
}

.CommentInput>div:first-child {
    align-self: flex-start;
    margin-top: 0.25rem;
}

.CommentInput__Input {
  background: white;
  flex-grow: 1;
  border-radius: 20px;
  margin-left: 0.5rem;
  outline: none;
  padding: 0.65rem;
  overflow: auto;
  width: calc(100% - 2.5rem);
  font-size: 0.95rem;
}

.CommentInput__Placeholder {
  color: var(--grey-color);
  position: absolute;
  left: calc(2.5rem + 1.35rem);
  font-size: 0.95rem;
}
