.MessageTyping {
  display: flex;
  align-items: center;
  height: 17px;
}

.MessageTyping div {
  --side: 6px;
  margin: auto 1px;
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  animation-name: flipflop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: #555;
}

.MessageTyping--Inverted div {
  background: #fff;
}

.MessageTyping div:nth-child(1) {
  animation-delay: 0s;
}

.MessageTyping div:nth-child(2) {
  animation-delay: 0.1s;
}

.MessageTyping div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes flipflop {
  20% {
    transform: translateY(-4px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
