.Post {
  width: var(--post-width);
  border-radius: 5px;
  background-color: white;
}

.Post > div {
  padding-left: 1em;
  padding-right: 1em;
}

.Post > div:last-child {
  padding: 0;
}

.Post > div:first-child {
  padding-top: 0.75rem;
}

.MoreCommentIcon {
  transform: rotate(180deg) translateY(-0.15em);
  color: rgba(0, 0, 0, 0.75);
}
