.Post {
  width: var(--post-width);
  border-radius: 5px;
  background-color: white;
  padding-top: 0.55em;
}

.Post > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Post > div:last-child {
  padding: 0;
}

.Post > div:first-child {
  padding-top: 0.75rem;
}

.MoreCommentIcon {
  transform: rotate(180deg);
  color: rgba(0, 0, 0, 0.75);
}
