.StoryCard {
    height: 180px;
    width: 120px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    position: relative;
}

.StoryCard__Text {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    color: white;
    font-weight: bold;
}

.StoryCard__Circle {
    height: 2.5em;
    width: 2.5em;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.StoryCard__Circle--Active {
    height: calc(2.5em + 2px);
    width: calc(2.5em + 2px);
    border: 2px solid #0080ff;
}

.StoryCard__Circle>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.StoryCard__Add>img {
    width: 50%;
    height: 50%;
}

.StoryCard__Add {
    display: flex;
    justify-content: center;
    align-items: center;
}