.PostAction {
  border-top: 1.25px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1.25px solid rgba(0, 0, 0, 0.15);
  font-size: 0.95em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.PostAction__Action {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  transition: background 0.25s;
}

.PostAction__Action:hover {
  background: #f2f3f5;
}
