.UserInfoPopUp__Container {
  align-items: center;
  width: 425px;
  max-height: calc(160px + 125px);
  min-height: calc(160px + 85px);
  padding-bottom: 10px;
}

.UserInfoPopUp__Container > div {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.UserInfoPopUp__Container__CoverContainer {
  transform: translateX(-3px);
  height: 160px;
  left: 0;
  position: relative;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.UserInfoPopUp__Container__CoverContainer__Avatar {
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translate(-50%, 70%);
  border: 3px solid rgb(211, 211, 211);
  border-radius: 50%;
}

.UserInfoPopUp__Container__DescriptionContainer {
  padding-left: 40%;
  margin-top: 1em;
}

.ui.header {
  margin-bottom: 0px !important;
}

.ui.popup.transition.visible::before {
  z-index: 0 !important;
}

.UserInfoPopUp__Container__DescriptionContainer h3 {
  margin: 0px !important;
}

.List {
  margin-top: 0.5em !important;
}

.UserInfoPopup__Container__Actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  font-size: 0.75em;
}
