.StoryBoard {
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 1em;
}

.StoryBoard__Progress {
    margin-bottom: 1em;
    display: flex;
}

.StoryBoard__Progress>div {
    flex-grow: 1;
    margin-left: 2px;
    margin-right: 2px;
}

.StoryCard__Circle {
    height: 2.5em;
    width: 2.5em;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}

.StoryCard__Circle>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.StoryBoard__Header {
    display: flex;
    justify-content: space-between;
}

.StoryBoard__Header__Left, .StoryBoard__Header__Right {
    display: flex;
    align-items: center;
}

.StoryBoard__Header__Left__Info>div:first-child {
    margin-bottom: 0.25em;
}

.StoryBoard__Header__Left>div {
    margin: 0 0.25em;
}

.StoryBoard__Prev {
    position: absolute;
    left: -50px;
    top: 45%;
}

.StoryBoard__Next {
    position: absolute;
    right: -50px;
    top: 45%;
}