.StoryFeed {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 1em 1.5em;
}

.StoryFeed__Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.StoryFeed__Main {
  display: flex;
}

.StoryFeed__Header__SeeAll {
  cursor: pointer;
}

.StoryFeed__Main > div {
  margin-left: 10px;
  margin-right: 10px;
}

.StoryFeed__Main > div:first-child {
  margin-left: 0;
}

.StoryFeed__Main > div:last-child {
  margin-right: 0;
}
